/* #region common */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --zoom-white: #ffffff;
    --zoom-nav: #222222;
    --zoom-green: #4bc800;
    --zoom-grey: #4a4a4a;
    --zoom-black: #010101;
}
/* #endregion common */

/* #region utility */
.format_all{
    list-style: none;
    & a{
        text-decoration: none;
        color: var(--zoom-white);
    }
}

.d-flex{
    display: flex;
}

.p-abso{
    position: absolute;
}
/* #endregion utility */

/* #region layout */
.container{
	width: 90%;
	max-width: 1152px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
/* #endregion layout */

/* #region header */
header{
    background: var(--zoom-black);
    height: 70px;
    width: 100%;
    color: var(--zoom-white);
    text-align: end;
    padding: 1rem;
}

header span{
    background: var(--zoom-grey);
    border-radius: 0.3rem;
    padding: 0.4rem;
    font-size: 1.3rem;
    margin-left: 0.5rem;
}
/* #endregion header */

/* #region main */
main{
    background-color: var(--zoom-black);
    height: calc(100vh - 190px);
    overflow-y: auto;
    padding-top: 2rem;
}

main .row{
    justify-content: center;
    align-content: center;
}

.user-card{
    width: calc((100% / 7) - 2rem);
    margin: 2rem 1rem;
    min-width: 120px;
}

.user-card img{
    width: 100%;
    aspect-ratio: 16/9;
}
/* #endregion main */

/* #region footer */
footer{
    height: 120px;
    background: var(--zoom-nav);
}
/* #endregion footer */

/* #region Debug */
.debug .container{
    background: red;
}

.debug .row{
    width: 100%;
    background: yellow;
}

.debug .user-card{
    background: orange;
    border: 2px solid red;
}
/* #endregion Debug */